/* .variantMode .sapMInputBaseContentWrapper{
    border: 0px !important;
}

.variantMode input{
    color: #0a6ed1 !important;
    font-size: 1rem;
}

.variantMode span{
    font-size: 27px !important;
    color: #0a6ed1 !important;
}

.variantMode .sapUiIcon {
    line-height: 0.5rem !important;
}

.variantModeBlack .sapMInputBaseContentWrapper{
    border: 0px !important;
}

.variantModeBlack input{
    color: #91c8f6 !important;
    font-size: 1rem;
}

.variantModeBlack span{
    color: #91c8f6 !important;
    font-size: 27px !important;
}

.variantModeBlack .sapUiIcon {
    line-height: 0.5rem !important;
}


.selectedVariant{
    background-color: #e5f0fa !important;
    border-bottom: 0.0625rem solid #0854a0;
}

.sapMList ul {
    height: 250px !important;
}

.darkMode{
    cursor: pointer;
    color: #91c8f6;
    text-shadow: none;
} */


.sapMSplitContainerMaster{
    width: 33.5rem !important;
}